/* Palette Colors 
WNBA Orange: FA4D00
PWHL Purple: #6A4C93 (not pulled from PWHL stuff, but generated in a palatte that looks good w/WNBA orange)

Secondary colors:
Yellow: FFCA3A
Green: 8AC926
Blue: 1982C4


*/
/* Overall Styles */
.site-logo {
    width: 200px;
}

.navbar>.container-fluid {
    justify-content: flex-start !important;
}

.navbar.bg-dark {
    background-color: #000 !important;
}

.main-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1,
h2 {
    font-family: roc-grotesk, Helvetica, Arial, Roboto, sans-serif;
    font-weight: bold !important;
}

h3 {
    font-family: swear-display, Arial, Helvetica, Roboto, sans-serif;
}

.h2 {
    text-align: center;
    color: white !important;
    padding: 10px;
}

.wnba.h2 {
    background-color: #fa4d00;
}

.pwhl.h2 {
    background-color: #6A4C93;

}

p,
a {
    font-family: roc-grotesk, Helvetica, Arial, Roboto, sans-serif;
}



/* WNBA page */
.upcoming-game-name {
    font-weight: bold;
}

#currentDate {
    font-size: 1.5rem;
}

/* League Standings */

span.conf.badge.conf-Western {
    background-color: #8AC926;
}

span.conf.badge.conf-Eastern {
    background-color: #1982C4;
}


/* PWHL Page */
