<!DOCTYPE html>
<html>

{% include "head.html" %}

<body class="wnba">
    {% include "header.html" %}

    <div class="container main-container">
        <ul class="nav">
            <li><a href="{{ url_for('wnba_home') }}">WNBA</a></li>
            <li>/ Team Information</li>
        </ul>

        <h1>WNBA</h1>
        {% for info in team %}

        <h2>{{ info.name }}</h2>
        <div class="row">
            <div class="col-3"><img src="{{ info.logo }}" class="team-logo"></div>
            <div class="col-9">
                <p>{{info.standings}}</p>
            </div>
        </div>


        {% endfor %}

        <!-- End Container -->
    </div>

    {% include "footer.html" %}
</body>

</html>