<!DOCTYPE html>
<html>

{% include "head.html" %}

<body class="wnba">
    {% include "header.html" %}

    <div class="container main-container">
        <ul class="nav">
            <li><a href="{{ url_for('wnba_home') }}">WNBA</a></li>
            <li>/ News</li>
        </ul>

        <h1>WNBA</h1>

        <h2>Latest News</h2>
        {% for entry in news %}
        <div class="row news-row">
            <div class="col-md-3 col-12">
                <a href="{{ entry.link }}" target="_blank" class="headline-link"> <img src="{{ entry.image }}"
                        alt="{{ entry.headline }}" class="news-img img-fluid"></a>
            </div>
            <div class="col-md-9 col-12">
                <h3 class="news-headline">{{entry.headline }}</h3>
                <p>{{ entry.description }}</p>
                <a href="{{ entry.link }}" target="_blank" class="headline-link">Read More</a>
            </div>
        </div>

        {% endfor %}

        <!-- End Container -->
    </div>

    {% include "footer.html" %}
</body>

</html>