<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.typekit.net/aqd8lcf.css">
  <link rel="shortcut icon" href="https://stats.wnba.com/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Sports Hub</title>
</head>

<body class="wnba">
  {% include "header.html" %}
  <div class="container main-container">
    <h1>WNBA Hub</h1>


    <div class="row">

      <div class="col-md-6 col-12">
        <div class="todays-games">
          <h2>Game Schedule <br><span id="currentDate"></span></h2>
          {% for game in games %}
          <div class="upcoming-game-container">
            <p><span class="upcoming-game-name"> {{ game.away_team }} vs {{ game.home_team }} </span>
              <br>
              {{ game.readable_time }}
            </p>
          </div>
          {% endfor %}
        </div>

        <div class="todays-live-scores">
          <h2>Today's Live Scores</h2>
          {% for score in live_scores %}
          <div class="score-wrapper">
            <p> <span class="game-name">{{ score.name }}</span>
              <br>
              <span class="game-score">{{ score.away_score }} - {{ score.home_score }}</span>
            </p>
          </div>
          {% endfor %}
        </div>



        <div class="league-standings">
          <h2>League Standings</h2>

          {% for team in teams %}
          <div class="row team-wrapper">
            <div class="team-logo col-2">

              <img src="{{ team.logo }}" alt="{{ team.name }} Logo" class="team-logo img-fluid">

            </div>
            <div class="team-details col-8">
              <p> <span class="team-name">{{ team.name }}</span> ({{ team.abbreviation }}) </p>
            </div>
            <div class="team-conf col-2">
              <p>{{ team.games_behind }} </p>
            </div>

          </div>
          {% endfor %}

        </div>

      </div>

      <div class="col-md-6 col-12">
        <div class="todays-live-scores">
          <h2>Yesterday's Scores</h2>
          {% for score in yesterdays_scores %}
          <div class="score-wrapper">
            <p> <span class="game-name">{{ score.name }} </span> <a data-bs-toggle="modal"
                data-bs-target="#game-summary-modal-{{ score.id }}"><i class="bi bi-box-arrow-up-right"></i></a>
              <br>
              {{ score.away_score }} - {{ score.home_score }}
            </p>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="game-summary-modal-{{ score.id }}" tabindex="-1" aria-labelledby="game-summary-modal-{{ score.id }}Label"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="game-summary-modal-{{ score.id }}Label">Game Summary</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 <h3><span class="game-name">{{ score.name }} </span> </h3>
                 <p class="summary-game-score">{{ score.away_score }} - {{ score.home_score }}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>

        <div class="todays-news">
          <h2>News</h2>
          <div class="accordion" id="news-wrapper">
            {% for entry in news %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-{{entry.index}}" aria-expanded="false"
                  aria-controls="collapse-{{entry.index}}">
                  {{ entry.headline }}
                </button>
              </h2>
              <div id="collapse-{{entry.index}}" class="accordion-collapse collapse" data-bs-parent="#news-wrapper">
                <div class="accordion-body">
                  <div class="row news-entry">
                    <div class="col-md-4">
                      <a href="{{ entry.link }}" target="_blank" class="headline-link"> <img src="{{ entry.image }}"
                          alt="{{ entry.headline }}" class="news-img img-fluid"> </a>
                    </div>
                    <div class="col-md-8">
                      <p class="news-headline">{{
                        entry.headline }}</p>
                      <p>{{ entry.description }}</p>
                      <a href="{{ entry.link }}" target="_blank" class="headline-link">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <a href="{{ url_for('wnba_news') }}" class="btn btn-primary news-button">More News</a>
        </div>





      </div>

      <!-- End Row -->
    </div>

    <!-- End Container -->
  </div>

  {% include "footer.html" %}
</body>

</html>