<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  <title>Sports Hub</title>
</head>

<body class="wnba">
  {% include "header.html" %}
  <div class="container">
    <h1>WNBA</h1>


    <div class="row">

      <div class="col-md-6 col-12">
        <div class="todays-games">
          <h2>Game Schedule <br><span id="currentDate"></span></h2>
          {% for game in games %}
          <div class="upcoming-game-container">
            <p><span class="upcoming-game-name"> {{ game.away_team }} vs {{ game.home_team }} </span>
              <br>
              {{ game.readable_time }}
            </p>
          </div>
          {% endfor %}
        </div>

        <div class="league-standings">
          <h2>League Standings</h2>
          <ul>
           {% for team in teams %}
               <li class="team-item">
                {% if team.logo %}
                    <img src="{{ team.logo }}" alt="{{ team.name }} Logo" class="team-logo">
                {% endif %}
                <div class="team-details">
                    <span>{{ team.name }}</span> ({{ team.abbreviation }})
                </div>
            </li>
           {% endfor %}
           </ul>
        </div>

      </div>

      <div class="col-md-6 col-12">
        <div class="todays-live-scores">
          <h2>Live Scores</h2>
          
        </div>

      </div>

      <!-- End Row -->
    </div>

    <!-- End Container -->
  </div>

  {% include "footer.html" %}
</body>

</html>